.container {
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  border-radius: 5px;
  color: #777777;
}

.title {
  font-size: 28px;
  margin-top: 0;
  text-align: center;
}

.link {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  color: #000eee;
}

.subtitle {
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.image {
  display: block;
  max-height: 20px;
}

.title_part_container {
  display: flex;
  align-items: stretch;
  gap: 10px;
  margin-bottom: 15px;
}

.part_title {
  font-size: 20px;
  margin: 0;
}

.span_error {
  display: block;
  padding: 5px;
  color: #ff0000;
  font-size: 14px;
}

.hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 200px;
}

.submit {
  display: block;
  align-self: center;
  width: 200px;
  margin-top: 10px;
  border-radius: 5px;
  padding: 1rem;
  background-color: #040d12;
  color: #fff;
  cursor: pointer;
}
